mixin video(video)
    a(href=`/videos/${video.id}`).video-mixin
        div.video-mixin__thumb
            img(src=video.thumbUrl, crossorigin).thumb__img
        .video-mixin__data 
            span.video-mixin__title=video.title
            div.video.mixin__meta
                if video.owner
                    span #{video.owner.name} / 
                else 
                    span User who have left
                span #{video.meta.views}views