extends base.pug

block content
    .watch__block
        #videoContainer(data-id=video._id)
            video(src=video.fileUrl,crossorigin)
            #videoCenterButton.video__center
                i.fas.fa-plause
            #videoControls.videoControls
                .videoControls__play 
                    span#play.videoControls__playBtn 
                        i.fas.fa-play
                .videoControls__time
                    span#currentTime 00:00
                    span / 
                    span#totalTime 00:00
                .videoControls__timeline
                    input(type="range", step="1", value=0, min="0")#timeline
                .videoControls__volume
                    span#mute 
                        i.fas.fa-volume-up
                    input(type="range", step="0.1", value=0.5 min="0", max="1")#volume
                div 
                    span#fullScreen
                        i.fas.fa-expand

        div.video__title__box
            h2.video__title=video.title
            if loggedInUser && String(video.owner._id) === String(loggedInUser._id)
                a(href=`${video.id}/edit`).fas.fa-pencil.edit__video 
                a(href=`${video.id}/delete`).fas.fa-trash-can.delete__video 
        span#showInfo.show__info Show info
        
        div#videoInfo.hidden
            div.uploaded
                small Uploaded by 
                img(src=video.owner.avatarUrl, crossorigin).owner__avatar
                a(href=`/users/${video.owner._id}`)=video.owner.name
            div.view__date
                div.views
                    p=`${video.meta.views} views`
                div.createdAt
                    p=video.createdAt
            div.description
                p=video.description
            
            
        
    div.video__comments
        div.comment__tap
            span.video__commentitle Comments
            if loggedInUser
                .video__add-comments  
                    form.video__comment-form#commentForm
                        textarea(placeholder="Write a comment here")
                        button.comment__button Add Comment 
        ul 
            each comment in video.comments.reverse()
                li.video__comment(data-id=comment.id)
                    div.comment__user-info
                        img(src=comment.userAvatar,crossorigin)
                        span  #{comment.name}:
                    div.comment__content
                        span  #{comment.text}
                        if loggedInUser && String(comment.owner._id) === String(loggedInUser._id)
                            span#deleteBtn.delete__comment &#x274C
    
block scripts 
    script(src="/assets/js/videoPlayer.js")
    if loggedIn
        script(src="/assets/js/commentSection.js")

